{{> head }}
{{> navbar }}
<div class="row">
	<div class="col-8">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi et, dolore saepe error nemo at quidem incidunt ea, distinctio itaque vero qui cumque delectus nulla, provident quae. Nemo mollitia magni, itaque veniam sapiente! Aspernatur libero illum ullam esse distinctio dolores tempora saepe. Sit temporibus doloribus, odio explicabo alias esse natus?</p>
	</div>
	<div class="col-4">
		<img src="/assets/img/scilea.jpeg" class="img-thumbnail">
	</div>
</div>
{{> footer }}